# Update the Google SpreadSheets

>This script is meant to update the google spreadsheets that I have connected to a project in Google Data studio to allow me to check the evolution of my financial portfolio

In [69]:
# importing the required libraries
import gspread
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials

#### You can install the required libraries using this below
How to update directily using google spread sheets

https://www.analyticsvidhya.com/blog/2020/07/read-and-update-google-spreadsheets-with-python/
>!pip3 install gspread
>
>!pip3 install --upgrade google-api-python-client oauth2client

In [71]:
# define the scope
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']

# add credentials to the account
creds = ServiceAccountCredentials.from_json_keyfile_name('Financial Portfolio-1274c1db4e11.json', scope)

# authorize the clientsheet 
client = gspread.authorize(creds)

In [72]:
def update_google_sheet_csv(name_sheet, name_csv):
    """
    :parameter: name_sheet (str) name of google spread_sheet
    :parameter: name_csv (str) name of the csv file without the extention ".csv"
    """
    sheet = client.open(name_sheet)

    # Read CSV file contents
    content = open(name_csv+'.csv', 'r').read()
    client.import_csv(sheet.id, content)

# Run this Scrip to Generate your Portfolio DataSet

# To do:
- Describe the code como deve ser
- Create a function to add stocks and shares as well as the market price when they started investing

In [73]:
import datetime as dt
import matplotlib.pyplot as plt
from pandas_datareader import data as web
import pandas as pd

In [74]:
# Import and clean data
tickers = ['NIO', 'ETSY','PINS','DIS', 'WKHS', 'CRSR', 'IWDA.AS']
stock_names = ['NIO', 'Etsy', 'Pinterest','Disney', 'WorkHorse', 'Corsair', 'iShares World']
shares = [8, 5, 7, 4, 8, 6, 49]
prices = []
total = []

for ticker in tickers:
    df = web.DataReader(ticker, 'yahoo', dt.datetime(2019,8,10), dt.datetime.now())
    price = df[-1:]['Close'][0]
    prices.append(price)
    index = prices.index(price)
    total.append(price * shares[index])

stocks_tickers = ['NIO', 'ETSY','PINS', 'WKHS','DIS', 'CRSR', 'IWDA.AS', 'SXR8.DE']
stocks = web.DataReader(stocks_tickers, 'yahoo', dt.datetime(2019,8,10), dt.datetime.now())
    
total_str = ['$'+str(round(t,2)) for t in total]

stock_names_and_total = stock_names.copy()
stock_names_and_total.append('Total')
total_portfolio = total.copy()
total_portfolio.append(sum(total))
total_portfolio_str = ['$'+str(round(t,2)) for t in total_portfolio]

In [75]:
stocks.drop(columns=['Adj Close','High','Low','Open','Volume'], inplace=True)

In [76]:
stocks_close = stocks.Close.reset_index().copy()
stocks_close.rename_axis(None, axis = 1, inplace=True)
stocks_close

,Date,NIO,ETSY,PINS,WKHS,DIS,CRSR,IWDA.AS,SXR8.DE
0,2019-08-12,3.050000,54.970001,33.619999,3.190000,135.750000,NaN,50.209999,254.529999
1,2019-08-13,3.150000,55.740002,34.419998,3.310000,137.009995,NaN,50.735001,257.739990
2,2019-08-14,2.900000,52.840000,32.230000,3.370000,132.850006,NaN,50.020000,254.089996
3,2019-08-15,2.820000,51.709999,32.009998,3.410000,133.410004,NaN,49.915001,253.449997
4,2019-08-16,2.950000,52.610001,32.220001,3.630000,135.199997,NaN,50.634998,257.160004
...,...,...,...,...,...,...,...,...,...
368,2021-01-20,57.709999,215.690002,72.639999,23.330000,173.639999,36.000000,NaN,NaN
369,2021-01-21,58.340000,212.539993,73.519997,22.850000,171.279999,36.730000,NaN,NaN
370,2021-01-22,61.950001,213.589996,73.080002,23.510000,172.779999,38.380001,61.660000,318.359985
371,2021-01-25,59.990002,208.809998,73.370003,24.709999,171.889999,39.259998,NaN,NaN
372,2021-01-26,59.849998,205.059998,69.699997,31.913900,169.764999,38.685001,61.840000,319.940002

In [77]:
stocks_close.set_index('Date')
stocks_close['My Portfolio'] = (stocks_close['NIO']*shares[0]+stocks_close['WKHS']*shares[1]+stocks_close['CRSR']*shares[2]+
                                stocks_close['IWDA.AS']*shares[3])

stocks_close_dropna = stocks_close.dropna().copy()

stocks_close['Portfolio Return'] = stocks_close['My Portfolio'] / stocks_close['My Portfolio'].shift(1) - 1
stocks_close['Market Return'] = stocks_close['SXR8.DE'] / stocks_close['SXR8.DE'].shift(1) - 1
stocks_close

,Date,NIO,ETSY,PINS,WKHS,DIS,CRSR,IWDA.AS,SXR8.DE,My Portfolio,Portfolio Return,Market Return
0,2019-08-12,3.050000,54.970001,33.619999,3.190000,135.750000,NaN,50.209999,254.529999,NaN,NaN,NaN
1,2019-08-13,3.150000,55.740002,34.419998,3.310000,137.009995,NaN,50.735001,257.739990,NaN,NaN,0.012611
2,2019-08-14,2.900000,52.840000,32.230000,3.370000,132.850006,NaN,50.020000,254.089996,NaN,NaN,-0.014162
3,2019-08-15,2.820000,51.709999,32.009998,3.410000,133.410004,NaN,49.915001,253.449997,NaN,NaN,-0.002519
4,2019-08-16,2.950000,52.610001,32.220001,3.630000,135.199997,NaN,50.634998,257.160004,NaN,NaN,0.014638
...,...,...,...,...,...,...,...,...,...,...,...,...
368,2021-01-20,57.709999,215.690002,72.639999,23.330000,173.639999,36.000000,NaN,NaN,NaN,NaN,NaN
369,2021-01-21,58.340000,212.539993,73.519997,22.850000,171.279999,36.730000,NaN,NaN,NaN,NaN,NaN
370,2021-01-22,61.950001,213.589996,73.080002,23.510000,172.779999,38.380001,61.660000,318.359985,1128.450014,NaN,NaN
371,2021-01-25,59.990002,208.809998,73.370003,24.709999,171.889999,39.259998,NaN,NaN,NaN,NaN,NaN
372,2021-01-26,59.849998,205.059998,69.699997,31.913900,169.764999,38.685001,61.840000,319.940002,1156.524500,NaN,NaN

In [78]:
# Export Stocks close with NaN data points
stocks_close.to_csv('stocks_close.csv', index=False)

# Update the google sheet
update_google_sheet_csv('stocks_close', 'stocks_close')

In [79]:
stocks_close_dropna['Portfolio Return'] = stocks_close_dropna['My Portfolio'] / stocks_close_dropna['My Portfolio'].shift(1) - 1
stocks_close_dropna['Market Return'] = stocks_close_dropna['SXR8.DE'] / stocks_close_dropna['SXR8.DE'].shift(1) - 1
stocks_close_dropna

,Date,NIO,ETSY,PINS,WKHS,DIS,CRSR,IWDA.AS,SXR8.DE,My Portfolio,Portfolio Return,Market Return
287,2020-09-23,17.959999,115.089996,39.549999,22.469999,123.279999,14.250000,54.235001,283.760010,572.719992,NaN,NaN
288,2020-09-24,17.850000,113.680000,38.490002,22.129999,122.489998,15.580000,53.619999,280.279999,576.989994,0.007456,-0.012264
289,2020-09-25,18.320000,118.279999,39.900002,24.809999,124.000000,17.250000,54.000000,282.720001,607.359995,0.052635,0.008706
291,2020-09-29,20.850000,123.230003,40.560001,27.100000,125.400002,18.780001,54.639999,286.239990,652.320007,0.074025,0.012450
292,2020-09-30,21.219999,121.629997,41.509998,25.280001,124.080002,20.100000,54.959999,289.260010,656.699997,0.006714,0.010551
293,2020-10-01,21.760000,131.690002,44.529999,25.080000,123.309998,20.950001,55.084999,289.679993,666.470003,0.014877,0.001452
294,2020-10-02,21.180000,131.630005,43.820000,23.620001,122.550003,20.900000,54.889999,287.829987,653.400002,-0.019611,-0.006386
299,2020-10-09,21.469999,146.669998,43.389999,26.770000,124.980003,18.110001,56.195000,295.140015,657.160000,0.005755,0.025397
304,2020-10-16,28.480000,147.589996,44.060001,22.809999,126.809998,19.200001,56.825001,300.700012,703.590002,0.070653,0.018839
309,2020-10-23,27.160000,137.845001,53.000000,20.340000,128.350006,24.670000,55.650002,293.459991,714.270006,0.015179,-0.024077
314,2020-10-30,30.580000,121.589996,58.950001,15.380000,121.250000,24.040001,53.514999,281.989990,703.880004,-0.014546,-0.039085
319,2020-11-06,41.630001,146.279999,64.739998,17.290001,127.459999,27.080000,56.505001,297.250000,835.070017,0.186381,0.054115
324,2020-11-13,44.560001,124.919998,62.320000,19.219999,138.360001,29.180000,57.970001,303.440002,888.720015,0.064246,0.020824
329,2020-11-20,49.250000,140.059998,66.849998,25.780001,141.070007,40.330002,58.529999,304.190002,1039.330011,0.169468,0.002472
333,2020-11-27,54.000000,160.550003,69.720001,27.180000,147.130005,38.770000,59.209999,306.730011,1076.130001,0.035407,0.008350
338,2020-12-04,43.040001,155.029999,67.309998,22.070000,154.139999,35.680000,59.154999,306.720001,941.050003,-0.125524,-0.000033
343,2020-12-11,41.980000,170.020004,71.129997,21.780001,175.720001,33.259998,58.730000,303.399994,912.479986,-0.030360,-0.010824
348,2020-12-18,46.720001,190.759995,70.360001,21.150000,172.889999,38.700001,59.285000,305.079987,987.550013,0.082270,0.005537
357,2021-01-04,53.490002,172.080002,68.070000,21.420000,177.679993,34.750000,59.305000,304.350006,1015.490015,0.028292,-0.002393
358,2021-01-05,53.200001,174.979996,68.419998,22.430000,178.440002,35.900002,59.419998,305.070007,1026.730011,0.011069,0.002366
359,2021-01-06,50.500000,167.570007,67.110001,23.650000,179.119995,37.889999,60.270000,309.769989,1028.559996,0.001782,0.015406
360,2021-01-07,54.279999,170.789993,71.379997,27.600000,178.580002,39.430000,60.799999,312.799988,1091.449991,0.061144,0.009781
361,2021-01-08,58.919998,175.649994,71.870003,25.565001,178.690002,38.310001,61.099998,314.010010,1111.754992,0.018604,0.003868
366,2021-01-15,56.270000,204.419998,69.750000,23.340000,171.440002,38.130001,61.259998,315.200012,1078.810005,-0.029633,0.003790
370,2021-01-22,61.950001,213.589996,73.080002,23.510000,172.779999,38.380001,61.660000,318.359985,1128.450014,0.046014,0.010025
372,2021-01-26,59.849998,205.059998,69.699997,31.913900,169.764999,38.685001,61.840000,319.940002,1156.524500,0.024879,0.004963

In [80]:
# Export this data set to csv
stocks_close_dropna.to_csv('stocks_close_dropna.csv', index=False)

# Update the google sheet
update_google_sheet_csv('stocks_close_dropna', 'stocks_close_dropna')

In [81]:
stocks_close_dropna['month'] = stocks_close_dropna['Date'].dt.month
stocks_close_dropna['year'] = stocks_close_dropna['Date'].dt.year
stocks_close_dropna.groupby(['year','month'])[['Portfolio Return','Market Return']].sum()

            Portfolio Return  Market Return
year month
2020 9              0.140831       0.019443
     10             0.072307      -0.023862
     11             0.455503       0.085761
     12            -0.073613      -0.005320
2021 1              0.162150       0.047807

In [82]:
stocks_close_dropna.set_index('Date', inplace=True)
stocks_close_dropna

,NIO,ETSY,PINS,WKHS,DIS,CRSR,IWDA.AS,SXR8.DE,My Portfolio,Portfolio Return,Market Return,month,year
Date,,,,,,,,,,,,,
2020-09-23,17.959999,115.089996,39.549999,22.469999,123.279999,14.250000,54.235001,283.760010,572.719992,NaN,NaN,9,2020
2020-09-24,17.850000,113.680000,38.490002,22.129999,122.489998,15.580000,53.619999,280.279999,576.989994,0.007456,-0.012264,9,2020
2020-09-25,18.320000,118.279999,39.900002,24.809999,124.000000,17.250000,54.000000,282.720001,607.359995,0.052635,0.008706,9,2020
2020-09-29,20.850000,123.230003,40.560001,27.100000,125.400002,18.780001,54.639999,286.239990,652.320007,0.074025,0.012450,9,2020
2020-09-30,21.219999,121.629997,41.509998,25.280001,124.080002,20.100000,54.959999,289.260010,656.699997,0.006714,0.010551,9,2020
2020-10-01,21.760000,131.690002,44.529999,25.080000,123.309998,20.950001,55.084999,289.679993,666.470003,0.014877,0.001452,10,2020
2020-10-02,21.180000,131.630005,43.820000,23.620001,122.550003,20.900000,54.889999,287.829987,653.400002,-0.019611,-0.006386,10,2020
2020-10-09,21.469999,146.669998,43.389999,26.770000,124.980003,18.110001,56.195000,295.140015,657.160000,0.005755,0.025397,10,2020
2020-10-16,28.480000,147.589996,44.060001,22.809999,126.809998,19.200001,56.825001,300.700012,703.590002,0.070653,0.018839,10,2020
2020-10-23,27.160000,137.845001,53.000000,20.340000,128.350006,24.670000,55.650002,293.459991,714.270006,0.015179,-0.024077,10,2020
2020-10-30,30.580000,121.589996,58.950001,15.380000,121.250000,24.040001,53.514999,281.989990,703.880004,-0.014546,-0.039085,10,2020
2020-11-06,41.630001,146.279999,64.739998,17.290001,127.459999,27.080000,56.505001,297.250000,835.070017,0.186381,0.054115,11,2020
2020-11-13,44.560001,124.919998,62.320000,19.219999,138.360001,29.180000,57.970001,303.440002,888.720015,0.064246,0.020824,11,2020
2020-11-20,49.250000,140.059998,66.849998,25.780001,141.070007,40.330002,58.529999,304.190002,1039.330011,0.169468,0.002472,11,2020
2020-11-27,54.000000,160.550003,69.720001,27.180000,147.130005,38.770000,59.209999,306.730011,1076.130001,0.035407,0.008350,11,2020
2020-12-04,43.040001,155.029999,67.309998,22.070000,154.139999,35.680000,59.154999,306.720001,941.050003,-0.125524,-0.000033,12,2020
2020-12-11,41.980000,170.020004,71.129997,21.780001,175.720001,33.259998,58.730000,303.399994,912.479986,-0.030360,-0.010824,12,2020
2020-12-18,46.720001,190.759995,70.360001,21.150000,172.889999,38.700001,59.285000,305.079987,987.550013,0.082270,0.005537,12,2020
2021-01-04,53.490002,172.080002,68.070000,21.420000,177.679993,34.750000,59.305000,304.350006,1015.490015,0.028292,-0.002393,1,2021
2021-01-05,53.200001,174.979996,68.419998,22.430000,178.440002,35.900002,59.419998,305.070007,1026.730011,0.011069,0.002366,1,2021
2021-01-06,50.500000,167.570007,67.110001,23.650000,179.119995,37.889999,60.270000,309.769989,1028.559996,0.001782,0.015406,1,2021
2021-01-07,54.279999,170.789993,71.379997,27.600000,178.580002,39.430000,60.799999,312.799988,1091.449991,0.061144,0.009781,1,2021
2021-01-08,58.919998,175.649994,71.870003,25.565001,178.690002,38.310001,61.099998,314.010010,1111.754992,0.018604,0.003868,1,2021
2021-01-15,56.270000,204.419998,69.750000,23.340000,171.440002,38.130001,61.259998,315.200012,1078.810005,-0.029633,0.003790,1,2021
2021-01-22,61.950001,213.589996,73.080002,23.510000,172.779999,38.380001,61.660000,318.359985,1128.450014,0.046014,0.010025,1,2021
2021-01-26,59.849998,205.059998,69.699997,31.913900,169.764999,38.685001,61.840000,319.940002,1156.524500,0.024879,0.004963,1,2021

In [83]:
group_st_close_dna = stocks_close_dropna.groupby(pd.Grouper(freq="M"))[['Portfolio Return','Market Return']].sum().reset_index()
group_st_close_dna

        Date  Portfolio Return  Market Return
0 2020-09-30          0.140831       0.019443
1 2020-10-31          0.072307      -0.023862
2 2020-11-30          0.455503       0.085761
3 2020-12-31         -0.073613      -0.005320
4 2021-01-31          0.162150       0.047807

In [87]:
# Update the CSV file
group_st_close_dna.to_csv('grouped_stocks_close_dna.csv', index=False)

# Update the google sheet
update_google_sheet_csv('grouped_stocks_close_dna', 'grouped_stocks_close_dna')

# Generate General Information DataFrame

In [88]:
# Weights

# Current Portfolio value
current_portfolio = sum(total)

# stocks_tickers = ['NIO', 'WKHS', 'CRSR', 'IWDA.AS', 'SXR8.DE']
avg_price = [31.65, 210, 69.8, 170, 21.5, 37.9, 58.8714]
shares = [8, 5, 7, 4, 8, 6, 49]

initial_purchase = [shares[i]*avg_price[i] for i in range(len(avg_price))]
initial_portfolio = sum(initial_purchase)
initial_purchase_str = ['$'+str(round(t)) for t in initial_purchase]

# Current Weights in My Portfolio
weights = [price/initial_portfolio for price in initial_purchase]

# Calculating Return
todays_price = list(stocks_close[-1:][tickers].values.flatten())
returns = [todays_price[i]/avg_price[i]-1 for i in range(len(avg_price))]

# Portfolio Total Return
total_return = sum([returns[i]*weights[i] for i in range(len(returns))])

# HardCoded Value that would be the value when I started Investing (change this to input)
total_mkt_ret = 254

myportfolio = pd.DataFrame({'Stocks': stock_names,'Tickers': tickers, '# Shares': shares, 
                            'Weights': weights, 'Returns': returns, 'Price Today': todays_price, 
                            'Initial Purchase Price': avg_price, 'Initial Purchase per Stock': initial_purchase, 
                            'Current Value': total})
myportfolio

,Stocks,Tickers,# Shares,Weights,Returns,Price Today,Initial Purchase Price,Initial Purchase per Stock,Current Value
0,NIO,NIO,8,0.043990,0.890995,59.849998,31.6500,253.2000,478.903992
1,Etsy,ETSY,5,0.182422,-0.023524,205.059998,210.0000,1050.0000,1025.299988
2,Pinterest,PINS,7,0.084887,-0.001433,69.699997,69.8000,488.6000,487.899979
3,Disney,DIS,4,0.118140,-0.001382,169.764999,170.0000,680.0000,679.059998
4,WorkHorse,WKHS,8,0.029882,0.484367,31.913900,21.5000,172.0000,255.311203
5,Corsair,CRSR,6,0.039507,0.020712,38.685001,37.9000,227.4000,231.959999
6,iShares World,IWDA.AS,49,0.501173,0.050425,61.840000,58.8714,2884.6986,3030.160007

In [89]:
# Export this data set to csv
myportfolio.to_csv('my_portfolio.csv', index=False)

# Update the google sheet
update_google_sheet_csv('my_portfolio', 'my_portfolio')