# Run this Scrip to Generate your Portfolio DataSet

# To do:
- Describe the code como deve ser
- Create a function to add stocks and shares as well as the market price when they started investing

In [163]:
import datetime as dt
import matplotlib.pyplot as plt
from pandas_datareader import data as web
import pandas as pd

In [164]:
# Import and clean data
tickers = ['NIO', 'WKHS', 'CRSR', 'IWDA.AS']
stock_names = ['NIO', 'WorkHorse', 'Corsair', 'iShares World']
shares = [6, 8, 8, 19]
prices = []
total = []

for ticker in tickers:
    df = web.DataReader(ticker, 'yahoo', dt.datetime(2019,8,10), dt.datetime.now())
    price = df[-1:]['Close'][0]
    prices.append(price)
    index = prices.index(price)
    total.append(price * shares[index])

stocks_tickers = ['NIO', 'WKHS', 'CRSR', 'IWDA.AS', 'SXR8.DE']
stocks = web.DataReader(stocks_tickers, 'yahoo', dt.datetime(2019,8,10), dt.datetime.now())
    
total_str = ['$'+str(round(t,2)) for t in total]

stock_names_and_total = stock_names.copy()
stock_names_and_total.append('Total')
total_portfolio = total.copy()
total_portfolio.append(sum(total))
total_portfolio_str = ['$'+str(round(t,2)) for t in total_portfolio]

In [165]:
stocks.drop(columns=['Adj Close','High','Low','Open','Volume'], inplace=True)

In [166]:
stocks_close = stocks.Close.reset_index().copy()
stocks_close.rename_axis(None, axis = 1, inplace=True)
stocks_close

          Date        NIO       WKHS       CRSR    IWDA.AS     SXR8.DE
0   2019-08-12   3.050000   3.190000        NaN  50.209999  254.529999
1   2019-08-13   3.150000   3.310000        NaN  50.735001  257.739990
2   2019-08-14   2.900000   3.370000        NaN  50.020000  254.089996
3   2019-08-15   2.820000   3.410000        NaN  49.915001  253.449997
4   2019-08-16   2.950000   3.630000        NaN  50.634998  257.160004
..         ...        ...        ...        ...        ...         ...
364 2021-01-13  62.150002  24.540001  42.200001        NaN         NaN
365 2021-01-14  60.869999  24.610001  40.299999        NaN         NaN
366 2021-01-15  56.270000  23.340000  38.130001  61.259998  315.200012
367 2021-01-19  58.439999  23.760000  37.730000        NaN         NaN
368 2021-01-20  57.709999  23.330000  36.000000  62.095001  320.200012

[369 rows x 6 columns]

In [167]:
stocks_close.set_index('Date')
stocks_close['My Portfolio'] = (stocks_close['NIO']*shares[0]+stocks_close['WKHS']*shares[1]+stocks_close['CRSR']*shares[2]+
                                stocks_close['IWDA.AS']*shares[3])

stocks_close_dropna = stocks_close.dropna().copy()

stocks_close['Portfolio Return'] = stocks_close['My Portfolio'] / stocks_close['My Portfolio'].shift(1) - 1
stocks_close['Market Return'] = stocks_close['SXR8.DE'] / stocks_close['SXR8.DE'].shift(1) - 1
stocks_close

,Date,NIO,WKHS,CRSR,IWDA.AS,SXR8.DE,My Portfolio,Portfolio Return,Market Return
0,2019-08-12,3.050000,3.190000,NaN,50.209999,254.529999,NaN,NaN,NaN
1,2019-08-13,3.150000,3.310000,NaN,50.735001,257.739990,NaN,NaN,0.012611
2,2019-08-14,2.900000,3.370000,NaN,50.020000,254.089996,NaN,NaN,-0.014162
3,2019-08-15,2.820000,3.410000,NaN,49.915001,253.449997,NaN,NaN,-0.002519
4,2019-08-16,2.950000,3.630000,NaN,50.634998,257.160004,NaN,NaN,0.014638
...,...,...,...,...,...,...,...,...,...
364,2021-01-13,62.150002,24.540001,42.200001,NaN,NaN,NaN,NaN,NaN
365,2021-01-14,60.869999,24.610001,40.299999,NaN,NaN,NaN,NaN,NaN
366,2021-01-15,56.270000,23.340000,38.130001,61.259998,315.200012,1993.319981,NaN,NaN
367,2021-01-19,58.439999,23.760000,37.730000,NaN,NaN,NaN,NaN,NaN
368,2021-01-20,57.709999,23.330000,36.000000,62.095001,320.200012,2000.705017,NaN,NaN

In [168]:
# Export Stocks close with NaN data points
stocks_close.to_csv('stocks_close.csv', index=False)

In [169]:
stocks_close_dropna['Portfolio Return'] = stocks_close_dropna['My Portfolio'] / stocks_close_dropna['My Portfolio'].shift(1) - 1
stocks_close_dropna['Market Return'] = stocks_close_dropna['SXR8.DE'] / stocks_close_dropna['SXR8.DE'].shift(1) - 1
stocks_close_dropna

,Date,NIO,WKHS,CRSR,IWDA.AS,SXR8.DE,My Portfolio,Portfolio Return,Market Return
287,2020-09-23,17.959999,22.469999,14.250000,54.235001,283.760010,1431.985001,NaN,NaN
288,2020-09-24,17.850000,22.129999,15.580000,53.619999,280.279999,1427.559975,-0.003090,-0.012264
289,2020-09-25,18.320000,24.809999,17.250000,54.000000,282.720001,1472.399994,0.031410,0.008706
291,2020-09-29,20.850000,27.100000,18.780001,54.639999,286.239990,1530.299999,0.039324,0.012450
292,2020-09-30,21.219999,25.280001,20.100000,54.959999,289.260010,1534.599987,0.002810,0.010551
293,2020-10-01,21.760000,25.080000,20.950001,55.084999,289.679993,1545.414989,0.007047,0.001452
294,2020-10-02,21.180000,23.620001,20.900000,54.889999,287.829987,1526.149994,-0.012466,-0.006386
299,2020-10-09,21.469999,26.770000,18.110001,56.195000,295.140015,1555.564999,0.019274,0.025397
304,2020-10-16,28.480000,22.809999,19.200001,56.825001,300.700012,1586.635014,0.019973,0.018839
309,2020-10-23,27.160000,20.340000,24.670000,55.650002,293.459991,1580.390030,-0.003936,-0.024077
314,2020-10-30,30.580000,15.380000,24.040001,53.514999,281.989990,1515.624996,-0.040980,-0.039085
319,2020-11-06,41.630001,17.290001,27.080000,56.505001,297.250000,1678.335033,0.107355,0.054115
324,2020-11-13,44.560001,19.219999,29.180000,57.970001,303.440002,1755.990028,0.046269,0.020824
329,2020-11-20,49.250000,25.780001,40.330002,58.529999,304.190002,1936.449997,0.102768,0.002472
333,2020-11-27,54.000000,27.180000,38.770000,59.209999,306.730011,1976.589989,0.020729,0.008350
338,2020-12-04,43.040001,22.070000,35.680000,59.154999,306.720001,1844.184982,-0.066987,-0.000033
343,2020-12-11,41.980000,21.780001,33.259998,58.730000,303.399994,1808.069981,-0.019583,-0.010824
348,2020-12-18,46.720001,21.150000,38.700001,59.285000,305.079987,1885.535007,0.042844,0.005537
357,2021-01-04,53.490002,21.420000,34.750000,59.305000,304.350006,1897.095016,0.006131,-0.002393
358,2021-01-05,53.200001,22.430000,35.900002,59.419998,305.070007,1914.819984,0.009343,0.002366
359,2021-01-06,50.500000,23.650000,37.889999,60.270000,309.769989,1940.450001,0.013385,0.015406
360,2021-01-07,54.279999,27.600000,39.430000,60.799999,312.799988,2017.119984,0.039511,0.009781
361,2021-01-08,58.919998,25.565001,38.310001,61.099998,314.010010,2025.419975,0.004115,0.003868
366,2021-01-15,56.270000,23.340000,38.130001,61.259998,315.200012,1993.319981,-0.015849,0.003790
368,2021-01-20,57.709999,23.330000,36.000000,62.095001,320.200012,2000.705017,0.003705,0.015863

In [170]:
# Export this data set to csv
stocks_close_dropna.to_csv('stocks_close_dropna.csv', index=False)

In [171]:
stocks_close_dropna['month'] = stocks_close_dropna['Date'].dt.month
stocks_close_dropna['year'] = stocks_close_dropna['Date'].dt.year
stocks_close_dropna.groupby(['year','month'])[['Portfolio Return','Market Return']].sum()

            Portfolio Return  Market Return
year month
2020 9              0.070454       0.019443
     10            -0.011087      -0.023862
     11             0.277121       0.085761
     12            -0.043726      -0.005320
2021 1              0.060342       0.048682

In [172]:
stocks_close_dropna.set_index('Date', inplace=True)
stocks_close_dropna

,NIO,WKHS,CRSR,IWDA.AS,SXR8.DE,My Portfolio,Portfolio Return,Market Return,month,year
Date,,,,,,,,,,
2020-09-23,17.959999,22.469999,14.250000,54.235001,283.760010,1431.985001,NaN,NaN,9,2020
2020-09-24,17.850000,22.129999,15.580000,53.619999,280.279999,1427.559975,-0.003090,-0.012264,9,2020
2020-09-25,18.320000,24.809999,17.250000,54.000000,282.720001,1472.399994,0.031410,0.008706,9,2020
2020-09-29,20.850000,27.100000,18.780001,54.639999,286.239990,1530.299999,0.039324,0.012450,9,2020
2020-09-30,21.219999,25.280001,20.100000,54.959999,289.260010,1534.599987,0.002810,0.010551,9,2020
2020-10-01,21.760000,25.080000,20.950001,55.084999,289.679993,1545.414989,0.007047,0.001452,10,2020
2020-10-02,21.180000,23.620001,20.900000,54.889999,287.829987,1526.149994,-0.012466,-0.006386,10,2020
2020-10-09,21.469999,26.770000,18.110001,56.195000,295.140015,1555.564999,0.019274,0.025397,10,2020
2020-10-16,28.480000,22.809999,19.200001,56.825001,300.700012,1586.635014,0.019973,0.018839,10,2020
2020-10-23,27.160000,20.340000,24.670000,55.650002,293.459991,1580.390030,-0.003936,-0.024077,10,2020
2020-10-30,30.580000,15.380000,24.040001,53.514999,281.989990,1515.624996,-0.040980,-0.039085,10,2020
2020-11-06,41.630001,17.290001,27.080000,56.505001,297.250000,1678.335033,0.107355,0.054115,11,2020
2020-11-13,44.560001,19.219999,29.180000,57.970001,303.440002,1755.990028,0.046269,0.020824,11,2020
2020-11-20,49.250000,25.780001,40.330002,58.529999,304.190002,1936.449997,0.102768,0.002472,11,2020
2020-11-27,54.000000,27.180000,38.770000,59.209999,306.730011,1976.589989,0.020729,0.008350,11,2020
2020-12-04,43.040001,22.070000,35.680000,59.154999,306.720001,1844.184982,-0.066987,-0.000033,12,2020
2020-12-11,41.980000,21.780001,33.259998,58.730000,303.399994,1808.069981,-0.019583,-0.010824,12,2020
2020-12-18,46.720001,21.150000,38.700001,59.285000,305.079987,1885.535007,0.042844,0.005537,12,2020
2021-01-04,53.490002,21.420000,34.750000,59.305000,304.350006,1897.095016,0.006131,-0.002393,1,2021
2021-01-05,53.200001,22.430000,35.900002,59.419998,305.070007,1914.819984,0.009343,0.002366,1,2021
2021-01-06,50.500000,23.650000,37.889999,60.270000,309.769989,1940.450001,0.013385,0.015406,1,2021
2021-01-07,54.279999,27.600000,39.430000,60.799999,312.799988,2017.119984,0.039511,0.009781,1,2021
2021-01-08,58.919998,25.565001,38.310001,61.099998,314.010010,2025.419975,0.004115,0.003868,1,2021
2021-01-15,56.270000,23.340000,38.130001,61.259998,315.200012,1993.319981,-0.015849,0.003790,1,2021
2021-01-20,57.709999,23.330000,36.000000,62.095001,320.200012,2000.705017,0.003705,0.015863,1,2021

In [178]:
group_st_close_dna = stocks_close_dropna.groupby(pd.Grouper(freq="M"))[['Portfolio Return','Market Return']].sum().reset_index()
group_st_close_dna

        Date  Portfolio Return  Market Return
0 2020-09-30          0.070454       0.019443
1 2020-10-31         -0.011087      -0.023862
2 2020-11-30          0.277121       0.085761
3 2020-12-31         -0.043726      -0.005320
4 2021-01-31          0.060342       0.048682

In [180]:
group_st_close_dna.to_csv('grouped_stock_close_dna.csv', index=False)

# Generate General Information DataFrame

In [175]:
# Weights

# Current Portfolio value
current_portfolio = sum(total)

# stocks_tickers = ['NIO', 'WKHS', 'CRSR', 'IWDA.AS', 'SXR8.DE']
avg_price = [31.65, 21.5, 37.9, 55.0842]
shares = [6, 8, 8, 19]

initial_purchase = [shares[i]*avg_price[i] for i in range(len(avg_price))]
initial_portfolio = sum(initial_purchase)
initial_purchase_str = ['$'+str(round(t)) for t in initial_purchase]

# Current Weights in My Portfolio
weights = [price/initial_portfolio for price in initial_purchase]

# Calculating Return
todays_price = list(stocks_close[-1:][tickers].values.flatten())
returns = [todays_price[i]/avg_price[i]-1 for i in range(len(avg_price))]

# Portfolio Total Return
total_return = sum([returns[i]*weights[i] for i in range(len(returns))])

# HardCoded Value that would be the value when I started Investing (change this to input)
total_mkt_ret = 254

myportfolio = pd.DataFrame({'Stocks': stock_names,'Tickers': tickers, '# Shares': shares, 
                            'Weights': weights, 'Returns': returns, 'Price Today': todays_price, 
                            'Initial Purchase Price': avg_price, 'Initial Purchase per Stock': initial_purchase, 
                            'Current Value': total})
myportfolio

,Stocks,Tickers,# Shares,Weights,Returns,Price Today,Initial Purchase Price,Initial Purchase per Stock,Current Value
0,NIO,NIO,6,0.110942,0.823381,57.709999,31.6500,189.9000,346.259995
1,WorkHorse,WKHS,8,0.100485,0.085116,23.330000,21.5000,172.0000,186.639999
2,Corsair,CRSR,8,0.177134,-0.050132,36.000000,37.9000,303.2000,288.000000
3,iShares World,IWDA.AS,19,0.611439,0.127274,62.095001,55.0842,1046.5998,1179.805023

In [176]:
# Export this data set to csv
myportfolio.to_csv('myportfolio.csv', index=False)